<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>{{title}}</title> --}}
</head>
<body>
    <form action="/add-product" method="POST" enctype="multipart/form-data">
            <label for="image">Image:</label>
            <input type="file" name="image" id="image" required>
            <label for="flag">Flag:</label>
            <input type="text" name="flag" id="flag" >
            <label for="utilities">Utilities:</label>
            <input type="text" name="utilities" id="utilities" required>
            <label for="discount">Discount:</label>
            <input type="text" name="discount" id="discount" >
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required>
            <label for="voucher">Voucher:</label>
            <input type="text" name="voucher" id="voucher" >
            <label for="price">Price:</label>
            <input type="text" name="price" id="price" required>
        <button type="submit">Upload</button>
    </form>
<script src="/main/handle.js"></script>
<script>
   document.getElementById('price').addEventListener('input', function(event) {
    let value = event.target.value;
    // Xóa bỏ tất cả các ký tự không phải số
    let numberValue = value.replace(/[^\d]/g, '');
    // Định dạng lại phần nguyên với dấu phân cách hàng nghìn
    let formattedValue = addThousandsSeparator(numberValue);
    // Gán lại giá trị đã định dạng cho input
    event.target.value = formattedValue;
});

function addThousandsSeparator(value) {
    return value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
}


</script>

</body>
</html>
