*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}
.default{
    position: relative;
}
.pt-full{
    padding-top: 100%;

}
.w-full{
    width: 100%;
}
.h-full{
    height: 100%;
}
.mb-4{
    margin-bottom: 4px;
}
.flex-center{
    display: flex;
    align-items: center;
}