.dEw30H {
    position: absolute;
    right: 0;
    z-index: 3;
}
.T7s\+N- {
    border-radius: .125rem 0 0 0;
}
.hGTLQm {
    height: 1rem;
    padding: 0 .15625rem 0 .53125rem;
    margin-left: .46875rem;
    font-size: .875rem;
    line-height: 1rem;
}
.L1k9wv {
    position: relative;
    font-style: normal;
    font-weight: 500;
    color: #ec3814;
    white-space: nowrap;
    background-color: #ffe97a;
    border-radius: .125rem .125rem .125rem 0;
}
.HmlBrO.ElZOUi {
    left: -.23438rem;
}

.HmlBrO {
    position: absolute;
}