* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --main-bg: #f5f5f5;
    --main-text: #000
}

[data-theme="dark"] {
    --main-bg: rgb(45, 37, 50);
    --main-text: #fff
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg);
}

.default {
    position: relative;
}

.pt-full {
    padding-top: 100%;

}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.mb-4 {
    margin-bottom: 4px;
}

.flex-center {
    display: flex;
    align-items: center;

}

.flex-col {
    flex-direction: column;

}