.wrap-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateZ(0);

}

.shoppe-top {
    background: linear-gradient(-180deg, #f53d2d, #f63);
    width: 1519px;
    height: 120px;
}

.desc_nav {
    height: 34px;
    position: relative;
    z-index: 400;
    min-width: inherit;
}

.container-center {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.container_nav {
    display: flex;
    align-items: center;
    color: #fff;
    max-width: 1200px;
    width: inherit;

}

.container_left {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.wall:not(:first-child)::after {
    content: "";
    border-left: 1px solid hsla(0, 0%, 100%, .22);
    border-right: 1px solid hsla(0, 0%, 100%, .22);
    height: 15px;
    position: absolute;
    width: 0;
    left: -4px;
}

.wall:not(:first-child) {
    margin-left: 10px;
}

.desc_container {
    color: #fff;
    font-size: 13px;
    outline: 0;
    padding: 4px;
    text-decoration: none;
    position: relative;
    font-weight: 300;
}

.dowload-app {
    position: relative;
    align-items: center;
    /* animation: fadeIn .2s ease-in-out forwards; */
}

.dowload-app_subnav {
    position: absolute;
    top: 100%;
    z-index: 600;
}

.none {
    display: none;
}

.dowload-app:hover .none {
    display: block;
}

.desc-subnav {
    width: 180px;
    padding: 2px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 10px;

}

.QR {
    width: 180px;
    height: 180px;

}

.operatingsystem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 5px;

}

.system {
    width: 70px;
    margin-top: 5px;
}

.avatar-system {
    width: 100%;

}

.flex {
    display: flex;
}

.fanpage_icon {
    display: inline-block;
    margin-right: 10px;
    outline: 0;
    text-align: left;
}

.desc_icon {
    font-size: 15px;
}

.connect {
    display: flex;
    align-items: center;
}

.fanpage-app {
    margin-left: 2px;
}

.desc_container:not(.connect):hover {
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer;
}

.nav_space {
    flex: 1;
}

.container_right {
    display: flex;
    align-items: center;
    height: 34px;
    list-style: none;
}

.container-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.desc-popover_target--show {
    display: none;
    position: absolute;
    top: 34px;
    left: -320px;
}

.desc-popover:hover .desc-popover_target--show {
    display: block;
}

.userkey-popover_target--show {
    display: none;
    position: absolute;
    top: 24px;
    left: -92px;
}

.show-move:hover .userkey-popover_target--show {
    display: block;
}

.desc-show-userkey {
    width: 152px;
    height: 60px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: #000
}

.show-handle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    line-height: 60px;
}

.show-handle a {
    text-decoration: none;
}

.handle-exit {
    font-size: 20px;
    opacity: .5;
    color: #000;
}

.handle-exit:hover {
    color: red;
}

.desc-show {
    width: 406px;
    height: 340px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: #000;
}

.default {
    position: relative;
}

.show-avatar {
    padding-top: 25%;
}

.center {
    display: flex;
    margin: 0 auto;
}

.avatar-user {
    width: 100px;
    height: 100px;
    opacity: 0.7;
}

.title-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
}

.container-notifi {
    display: flex;
    align-items: center;
    padding: 6px 0;
    color: currentColor;
    text-decoration: none;
}

.btn-log_sign {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #efe9e9;
}

.default-btn {
    padding: 16px 4.6rem;
    border: none;
    font-size: 13px;
    font-weight: 500;
}

.default-btn:hover {
    cursor: pointer;
    color: red;
    background-color: #dddd;
}

.fix {
    margin-left: 14px;
}

.size {
    font-size: 16px;
}

.desc-title {
    font-size: 13px;
    margin-left: 5px;
    font-weight: 300;
    text-transform: capitalize;
}

.container_help {
    color: #fff;
    text-decoration: none;


}

.container-languae {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.language-show {
    display: none;
    position: absolute;
    top: 26px;
    left: -86px;
}

.desc-popover_target:hover .language-show {
    display: block;
}

.active-language {
    color: red !important;
}

.arrow-up::before {
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    z-index: 5000;
    top: -9px;
    right: 22px;
    transform: translateX(-50%) rotate(180deg);
    border-style: solid;
    border-width: 10px 12px 0;
    border-color: #fff transparent transparent transparent;
}

.lists-language {
    width: 202px;
    height: 80px;
    background-color: #fff;
    border-radius: 2px;
}

.lists-language>a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.list-language {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.8;
}

.sing-up,
.log-in {
    color: #fff;
    text-decoration: none;

}

.sing-up {
    margin: 0 10px 0 20px;
}

.log-in {
    margin: 0 10px 0 12px;
}

.container-link:hover,
.container-languae:hover {
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer;
}


.nav-wall {
    border-right: 1px solid hsla(0, 0%, 100%, .4);
    height: 15px;
}

.container_nav {
    background-color: transparent;
}

.wrap-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 16px 0 10px;

}

.header-width_seacrch__logo {
    position: relative;
    padding-right: 40px;
    top: -3px;
    text-decoration: none;
}

.wrap-header_logo {
    border-radius: 2px;
    margin: -2px;
    padding: 2px;
}

.svg-icon {
    display: block;
    width: 162px;
    height: 50px;
    fill: #fff;
}

.header-width_seacrch__search {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    width: 840px;
}

.wrap-search {
    top: 0.438rem;
    right: 50px;
}

.header-width_seacrch__search>.shoppe-searchbar {
    width: 100%;
    box-shadow: 0 4px 2px rgba(0, 0, 0, .09);
}

.shoppe-searchbar {
    background-color: #fff;
    border-radius: 2px;
    height: 40px;
    padding: 3px;
    display: flex;
    justify-content: space-between;


}

.shoppe-searchbar_main {
    position: relative;
    flex: 1;
    display: flex;
}

.shoppe-searchbar_input {
    display: flex;
    flex: 1;
    padding: 0 10px;
    position: relative;
    background-color: #fff;
    border-color: #fff;
}

.shoppe-searchbar_input__input {
    align-items: center;
    display: flex;
    border: 0;
    flex: 1;
    margin: 0;
    outline: none;
    padding: 0;

}

.shoppe-searchbar_btn {
    background-color: #fb5533;
    color: #fff;
    position: relative;
    outline: none;
}

.btn-s {
    height: 34px;
    padding: 0 15px;
    min-width: 60px;
    max-width: 190px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
    flex-direction: column;
    font-size: 14px;
    text-transform: capitalize;
}

.btn--inline {
    display: inline-block;
}

.shoppe-searchbar_btn>.icon-search {
    margin: 0 auto;
}

.shoppe-searchbar_btn-icon {
    display: inline-block;
    position: relative;
}

.icon-search {
    height: 16px;
    width: 16px;
}

.icon-search_icon {
    position: absolute;
    top: 50%;
    right: 1px;
    left: 0px;
}

.shoppe-searchbar .shoppe-searchbar_btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.wrap-shoppes_link--subinput {
    display: flex;
    flex: 1;
    width: 100%;
}

.shoppe-link_subinput {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    height: 24px;
    line-height: 24px;
    margin-top: 3px;
    width: 100%;
}

.shoppe-link_subinput>a {
    text-decoration: none;
}

.shoppe-link:first-child {
    margin-left: 0;
}

.shoppe-link {
    color: hsla(0, 0%, 100%, .9);
    display: block;
    height: 14px;
    line-height: 14px;
    margin: 5px 0;
    outline: none;
    position: relative;
    padding-right: 14px;
}

.wrap-shoppe_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    padding-bottom: 5px;
}

.container-cart {
    padding: 10px 0;
}

.cart {
    display: flex;
    align-items: center;
    margin: 0 0 0 5px;
    outline: none;
    position: relative;
}

.icon-cart {
    width: 26px;
    height: 26px;
    fill: #fff;
}

.size-cart {
    display: inline-block;
    font-size: 24px;
}

.shoppe_cart {
    position: relative;
    right: 56px;
    top: 0.219rem;
}

.wrap-modal_cart {
    display: none;
    position: absolute;
    top: 46px;
    right: -6px;
    animation: fadeIn .3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    to {
        width: 390px;
        height: 240px;
        opacity: 1;
        transform: translateY(0);
    }
}

.wrap-shoppe_cart:hover .wrap-modal_cart {
    display: block;
}

.wrap-modal_cart::before {
    right: -8px;
}

.size-modal {
    width: 390px;
    height: 240px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
}

.modal-cart {
    height: inherit;
}

.desc-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-cart_avatar {
    display: inline-block;
    width: 100px;
    margin-top: 60px;
}

.text-cart {
    color: #000;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.7;
}

.text-notification-message {
    font-size: 32px;
    color: red;
    opacity: 1;
}