#wrap-footer          {
    background-color: #fff;
    border-top: 4px solid #ee4d2d;
    color: rgba(0, 0, 0, .54);
    min-width: 1200px;
    border-top-color: #ee4d2d;
}



#footer_category         {
    width: 1200px;
    margin: 0 auto;
}
.category{
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    margin-top: 60px;
}
.footer-categorys_desc{
    padding-bottom: 30px;
}
.footer-category_desc-header{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
}
.footer-category_desc-content{
    font-size: 0.688rem;
    color: #000;
    line-height: 1.6;
    margin: 10px 0 0 ;
}
.footer-category_desc-content a
,.footer-category_desc-content-lists a{
    display: inline-block;
    color: inherit;
}
.footer-category_desc-content-lists{
    font-size: 0.688rem;
    color: #000;
    line-height: 2.4;
    margin: 10px 0 10px 30px;
}



#footer_careClient          {
    width: 1200px;
    padding-bottom: 30px;
    margin: 60px auto 10px;
}
.careclient{
    font-weight: 700;
    color: rgba(0, 0, 0, .54);
}
.content-careclient{
    margin: 0 -5px;
    display: flex;
}
.desc-careclient{
    padding: 5px;
    width: 20%;
}
.desc-careclient_column{
    font-size: 12px;
}
.header-column{
    color: rgba(0, 0, 0, .54);
    font-weight: 700;
    margin: 10px 0 2px;
    padding: 2px 0;
    text-transform: uppercase;
}
.header-column > a{
    color: rgba(0, 0, 0, .54);
    display: block;
    text-decoration: none;
}
.header-column > a:hover {
    color: #ee4d2d;
}
.product-column{
    line-height: 1.6;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.item-column{
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
}
.product-column > span{
    padding: 0 2px;
}
.item-column:hover{
    color: #ee4d2d;
}
#footer_policy          {
    background-color: #fbfbfb;
}
.desc-more_shoppe{
    margin: 0 auto;
    width: 1200px;
}
.desc-more_shoppe-desc{
    display: flex;
    min-width: 1200px;
    margin: 0 -6px;
    padding: 6px;
    width: 100%;
}
.desc-more_shoppe-desc--column{
    width: 250px;
    padding: 6px;
}
.header-desc_cloumn{
    color: rgba(0, 0, 0, .87);
    font-size: 12px;
    font-weight: 700;
    margin: 40px 0 20px;
    text-transform: uppercase
}
.content-desc_cloumn{
    color: rgba(0, 0, 0, .56);
    display: block;
    list-style: none;
    margin: 0 0 16px;
}
.item-content-desc_cloumn{
    font-size: 12px;
    margin-bottom: 12px;
}
.flex-item_column{
    display: flex;
    align-items: center;
}
.item-help_desc{
    text-decoration: none;
    color: inherit;
    overflow: hidden;
 
}

.item-help_desc > span {
    text-transform: capitalize;
    max-width: 100%;
}
.avatar-item_help-desc{
    width: 100%;
    height: 100%;
    text-align: center;
}
.list-item_help-desc{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    height: 30px;
    width: 60px;
    margin: 0 8px 8px 0;
    padding: 4px;
}
.avatar-help_desc{
    width: 100%;
    height: 100%;
    border: 0;
}
.content-desc_cloumn-item{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 0 16px;
}
.contact-shoppe{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.shoppe-code{
    width: 100%;
    margin-bottom: 16px;
}
.item-shoppe_code{
    text-decoration: none;
}
.item-shoppe_code > img {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    width: 80px;
    height: 80px;
    margin-right: 12px;
    padding: 4px;
}
.lists-app_dowload{
    display: inline-block;
    width: 76px;
}
.list-app_dowload{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    width: 76px;
    height: 24px;
    padding: 4px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc-more_shoppe-area{
    border-top: 1px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .54);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
    align-items: flex-start;
}
.desc-shoppe_area{
    margin-right: 0;
    color: rgba(25, 37, 55, 0.5);
    font-size: 14px;
}
.desc-shoppe_area > a{
    color: inherit;
    text-decoration: none;
}
.line-heigth{
    line-height: 1.4;
}
.shoppe-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nation{
    flex: 1 0 auto;
    text-align: right;
}
.area:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.area{
    padding: 0 6px;
}
.area > a {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}
.shoppe-censorship{
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, .65);
    font-size: 12px;
    padding: 42px 0 38px;
}
.desc-shoppe_censorship{
    margin: 0 auto;
    width: 1200px;
}
.censorship{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.the-censorship{
     font-size: 12px;
     padding: 0 25px;
     text-transform: uppercase;
}
.the-censorship:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, .1);
}
.content-censorship{
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
    display: block;
}
.lists-certification{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.list-certification{
    margin: 0 20px;
    text-decoration: none;
}
.footer-background{
    
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9765d68a8945750d.png);
}
.footer-w-background{
    width: 120px;
    height: 45px;
    background-position: 14.391143911439114% 99.41176470588235%;
    background-size: 551.6666666666666% 477.77777777777777%;
}
.footer-no_fake-background{
    width: 48px;
    height: 48px;
    background-position: 1.6286644951140066% 92.21556886227545%;
    background-size: 1379.1666666666667% 447.9166666666667%;
}
.mb-25{
    margin-bottom: 25px;
}
.item-help_desc:hover{
    color: #ee4d2d;
}
.text-desc_shoppee{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}
.desc-shoppe_area > a:hover{
    color: #ee4d2d;
}
