.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slider {
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease; /* Đảm bảo hiệu ứng trượt mượt mà */
    padding: 0;
    margin: 0;
  }
  
  .slides li {
    list-style: none;
  }
  
  .slides img {
    width: 100%;
  }
  
  .slider-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .slider-pagination li {
    margin: 0 5px;
  }
  
  .slider-pagination button {
    background-color: transparent;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-pagination button.active {
    background-color: #FF4500;
  }
  